<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.4/phpunit.xsd"
	backupGlobals="true"
	backupStaticAttributes="false"
	bootstrap="tests/bootstrap.php"
	colors="true"
	strict="true">
	<testsuites>
		<testsuite name="Metrodb Unit Tests">
			<directory>tests/unit/</directory>
		</testsuite>
		<testsuite name="Metrodb Integration Tests">
			<directory>tests/integration/</directory>
		</testsuite>
	</testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
			<file>./schema.php</file>
			<file>./schemamysqli.php</file>
			<file>./schemasqlite3.php</file>
			<file>./connector.php</file>
			<file>./dataitem.php</file>
			<file>./modeltrait.php</file>
			<file>./mysqli.php</file>
			<file>./sqlite3.php</file>
			<file>./blobstream.php</file>
        </whitelist>
        <blacklist>
            <directory >./vendor/</directory>
            <directory >./tests/</directory>
            <directory >./nosql/</directory>
            <directory suffix=".html.php">./src/</directory>
        </blacklist>
    </filter>
</phpunit>
